h1 {
    margin-left: 3rem;
}

body {
    background-color: #343434;
    color: white;
}

#mainCanvas {
    border: solid;
    margin: 0px auto;
    display: block;
    background-color: white;
}

#mainCanvas:focus {
    outline:none;
}

#mainGrid {
    display: grid;
    grid-template-columns: 300px 800px;
}

#selected-view {
    margin: 0px auto;
    display: block;
}

.ui-vx, .ui-vy, .ui-vz {
    width: 50px;
}