<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
<!--    <script src="http://localhost:3000/socket.io/socket.io.js"></script>-->
</head>
<body>
    <h1>WeBlend</h1>

    <noscript>
        JavaScript is required!
    </noscript>

    <div id="mainGrid">
<!--        <div id="selected-view">-->
<!--            <div id="selected-position">-->
<!--                <label>Position</label><br>-->
<!--                <input type="number" class="selected-number" v-if="position" v-model="position.x">-->
<!--                <input type="number" class="selected-number">-->
<!--                <input type="number" class="selected-number">-->
<!--            </div>-->
<!--            <div id="selected-rotation">-->
<!--                <label>Rotation</label><br>-->
<!--                <input type="number" class="selected-number" rv-value="selectedRotation.x">-->
<!--                <input type="number" class="selected-number" rv-value="selectedRotation.y">-->
<!--                <input type="number" class="selected-number" rv-value="selectedRotation.z">-->
<!--            </div>-->
<!--            <div id="selected-scale">-->
<!--                <label>Scale</label><br>-->
<!--                <input type="number" class="selected-number" rv-value="selectedScale.x">-->
<!--                <input type="number" class="selected-number" rv-value="selectedScale.y">-->
<!--                <input type="number" class="selected-number" rv-value="selectedScale.z">-->
<!--            </div>-->
<!--        </div>-->

        <div id="viewportWrapper">
            <canvas id="mainCanvas" width="1200" height="600" tabindex="0"></canvas>
        </div>
    </div>

    <div class="modal micromodal-slide" id="modal-start" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1">
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-start-title">
                <header class="modal__header">
                    <h2 class="modal__title" id="modal-start-title">
                        Choose Scene
                    </h2>
                </header>
                <main class="modal__content" id="modal-start-content">
                    <label>Scene Id</label>
                    <input type="text" id="in-scene-id">
                </main>
                <footer class="modal__footer">
                    <button class="modal__btn modal__btn-primary" id="btn-load-scene" data-micromodal-close>Load</button>
                    <button class="modal__btn" id="btn-new-scene" data-micromodal-close aria-label="Create a new default scene">New Scene</button>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>